

.nav-top{
    background-color: rgb(6, 112, 23) !important; /* Cor da página (Azul)*/
}

.nav-link{
    color: rgb(241, 241, 238) !important;
}

footer{
    background-color: rgb(6, 112, 23) !important;
    text-align: center !important;
    color: rgb(241, 241, 238) !important;
}

.img-car{
    max-height: 700px !important; /*700 tamanho do card principal as 3 imagens iniciais*/
}

.divisao{
    background-color: rgb(6, 112, 23) !important;
    text-align: center !important;
    color: rgb(241, 241, 238) !important;
    padding: 3em !important;
    /*margin-bottom: 5em !important;*/
}

.carousel-caption{
    background-color: rgba(0, 0, 0, 0.534) !important;
}

.sec-pacotes{
    margin-left: 10% !important;
    margin-right: 10% !important;
    justify-content: center !important;
    margin: 1% !important;
}

.card{
    padding: 1% !important;
    margin: 0% 1% 1% 0% !important;
}

.card p{
    text-align: justify !important;
}

.card h4{
    color: rgb(26, 23, 23) !important;
}

.sec-contatos{
    margin-bottom: 5% !important;
    margin-left: 10% !important;
    margin-right: 10% !important;
}

.btn-card{
    margin-top: 20% !important;
}

.links{
    text-align: center !important;
}